
.version {
  height: 100%;
  padding-left: 15vw;
}
.title {
  color: #8c0073;
  font-size: 18px;
  font-weight: initial;
  letter-spacing: .25px;
  margin-top: 10px;
}
.items { margin-top: 8px; }
.item {
  display: flex;
  margin-bottom: 6px;
}
.item .name {
  color: #6a6a6a;
  margin-right: 6px;
}
.item .value {
  color: #35495e;
  font-weight: bold;
}