/**
* thanks this:
* https://codepen.io/ejalomo/pen/MjJybd
*/
#of
{
    position: relative;
    font-size: calc(var(--window-font-size, 14px) * 2);
    font-family: var(--window-font-family);
    line-height: 1;
    -ms-transform: rotate(332deg);
    -webkit-transform: rotate(332deg);
    transform: rotate(328deg);
    margin-left: 6px;
    margin-bottom: 8px;
}
