/**
* thanks this:
* https://codepen.io/ejalomo/pen/MjJybd
*/
#of
{
    position: relative;
    font-size: 32px;
    line-height: 1;
    -ms-transform: rotate(332deg);
    -webkit-transform: rotate(332deg);
    transform: rotate(324deg);
    margin-left: 6px;
    margin-bottom: 20px;
}
