.colorItemContaioner {
    padding-left:2vw;
    padding-right:2vw
}
.colorItemPreviwer {
    display: inline-flex;
}

.leftMargin {
    margin-left: 2px;
    height: 27px;
}

.colorItemBtn {
    top: 0.6vh;
}