.danmuContainer {
    align-items: center;
    font-family: 'Consolas','zxfyyt','YouYuan';
    width: 90vw;
    height: 50px;
    display: flex;
    margin-left: 5vw;
    margin-top: 5px;
    margin-right: 5vw;
    margin-bottom: 5px;
 //   background-color: rgb(248, 248, 238);
}
.giftContainer {
  border: solid 1px teal;
  text-shadow: 0 0 #489b6d;
  align-items: center;
  font-family: 'Consolas','zxfyyt','YouYuan';
  width: 90vw;
  height: 50px;
  display: flex;
  margin-left: 5vw;
  margin-top: 5px;
  margin-right: 5vw;
  margin-bottom: 5px;
 // background-color: rgb(248, 248, 238);
}
.gbContainer {
  border: solid 1px teal;
  text-shadow: 0 0 #489b6d;
  align-items: center;
  font-family: 'Consolas','zxfyyt','YouYuan';
  width: 90vw;
  height: 50px;
  display: flex;
  margin-left: 5vw;
  margin-top: 5px;
  margin-right: 5vw;
  margin-bottom: 5px;
 // background-color: rgb(248, 248, 238);
}
.comeinContainer{

   // background-color: transparent;
    z-index: 2;
    }
.superChatContainer {
  // border: solid 1px teal;
  text-shadow: 0 0 #489b6d;
  align-items: center;
  font-family: 'Consolas','zxfyyt','YouYuan';
  width: 90vw;
  height: 50px;
  display: flex;
  margin-left: 5vw;
  margin-top: 5px;
  margin-right: 5vw;
  margin-bottom: 5px;
}
.superChatContent {
  margin-left: 2vw;
  align-self: center;

}
.avatar {
    height: 5vh;
    border-radius: 50%;
}
.fansAndNickname {
    align-self: center;
    font-size:smaller;
    display: flex-root;
    // background-color: lightgray;
}
.danmuContent {
    margin-left: 2vw;
    align-self: center;
    // background-color: white;
}
.dmName{
    font-family: "YouYuan";
    font-size: 10pt;
   // color: rgb(32, 32, 32);
    z-index: 3;
    transition: all 1s ease-in 0;
    transform: translateY(2vh);
      }
