body {
  margin: 0;
  font-family: 'SF Pro Display', 'Avenir Next', 'PingFang SC', 'Microsoft YaHei',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  background: radial-gradient(circle at top right, #dcf0ff 0%, #f2f8ff 38%, #f7fafc 100%);
  color: #1c2533;
}

* {
  box-sizing: border-box;
}

#root {
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
