.superChatBar {
  background-color: rgba(250, 235, 215, 0.493);
  /* position: absolute; */
  width: 100vw;
  height: 48px;
  padding: 0px;
  margin: 0px;
}
.superChatContainer {
  align-items: center;
  font-family: 'Consolas','zxfyyt','YouYuan';
  font-weight: bolder;
  text-align: center;
  width: 24vw;
  height: 50px;
  display: flex;
}
.hoverClassMiku:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(57 197 187 / var(--tw-bg-opacity));
}
