.superChatBar {
  background-color: antiquewhite;
  /* position: absolute; */
  width: 100vw;
  height: 48px;
  padding: 0px;
  margin: 0px;
}
.superChatContainer {
  background-color: #2c9678;
  color: #de1c31;
  align-items: center;
  font-family: 'Consolas','zxfyyt','YouYuan';
  font-weight: bolder;
  text-align: center;
  justify-content: center;
  width: 24vw;
  height: 50px;
  display: flex;
  margin-left: 5vw;
  margin-top: 24px;
  margin-right: 5vw;
  margin-bottom: 5px;
}
.hoverClassMiku:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(57 197 187 / var(--tw-bg-opacity));
}
